@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  background-color: #000;
}

@theme { 
  --font-orbitron: "Orbitron", sans-serif;
  --font-source-code-pro: "Source Code Pro", monospace;
}